{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="entry-list">
                {% for post in posts %}
                <article>
                    <h2><a href="/details">{{ post.title }}</a></h2>
                    <time datetime="{{ post.date }}">{{ post.date|date('F d, Y \\a\\t  g:i') }}</time>
                </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}